<cs-pager cs-paging-pagenumber="Model.PageNumber"
		  cs-paging-totalitems="Model.TotalItems"
		  cs-paging-pagesize="Model.PageSize"
		  cs-pagenumber-param="pagenumber"
		  asp-action=@ViewData["Action"]>
</cs-pager>
<p>
	Mostrando @((Model.PageNumber - 1) * Model.PageSize + 1) -
	@(((Model.PageNumber * Model.PageSize) < Model.TotalItems) ? Model.PageNumber * Model.PageSize : Model.TotalItems) de @Model.TotalItems
</p>